.menu {
  position: fixed;
  bottom: 0;
  min-height: 10vh;
  background-color: rgb(56, 56, 56);
  color: rgb(158, 158, 158);
}
button {
  width: 8rem;
  padding: 0.5rem;
  color: rgb(56, 56, 56);
  background-color: rgb(158, 158, 158);
  border-radius: 10px;
  font-size: 1.5rem;
  margin-right: 1rem;
}

button:hover {
  background-color: rgb(90, 90, 90);
  color: rgb(158, 158, 158);
}

.controllers svg {
  margin-right: 1rem;
}
:disabled {
  background-color: rgb(56, 56, 56);
  color: rgb(158, 158, 158);
  cursor: not-allowed;
}
