<header class='container-fluid header d-flex justify-content-center align-content-center p-0 mb-4'>
  <div class="row w-100 d-flex align-content-center">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <h1 class="animate__animated animate__fadeInRightBig m-0">Game of life</h1>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <h2 class='animate__animated animate__fadeInLeftBig m-0'>Generations: {{iterationCounter}}</h2>
    </div>
  </div>
</header>
