<form action='submit' class='form animate__animated animate__fadeInRightBig' #f="ngForm" (ngSubmit)="_onSubmit()">
  <div class="form-group">
    <label for="gridWidthSize">Cell width size:</label>
    <input required type="number" name='width' value='400' min='400' max='900' class="form-control" id="gridWidthSize" placeholder="Choose the width size" [(ngModel)]='formData.width'>
  </div>
  <div class="form-group">
    <label for="gridHeightSize">Cell height size:</label>
    <input required type="number"  name='height' value='200' min='200' max='500' class="form-control" id="gridHeightSize"  placeholder="Choose the height size" [(ngModel)]='formData.height'>
  </div>
  <h3>Initial form of the cells:</h3>
  <div class="form-group d-flex">

    <label for="cellFirst">1.</label>
    <img src="../../../assets/img/firstFigure.png" alt="firstFigure" style='width: 120px; height: 100px'>
    <input type="radio" class="form-control" id="firstFigure" value='firstFigure' name='cell' [(ngModel)]='formData.figure'>

    <label for="cellSecond">2.</label>
    <img src="../../../assets/img/secondFigure.png" alt="secondFigure" style='width: 120px; height: 100px'>
    <input type="radio" class="form-control" id="secondFigure" value='secondFigure' name='cell' [(ngModel)]='formData.figure'>

    <label for="cellThird">3.</label>
    <img src="../../../assets/img/thirdFigure.png" alt="thirdFigure" style='width: 120px; height: 100px'>
    <input type="radio" class="form-control" id="thirdFigure" value='thirdFigure' name='cell' [(ngModel)]='formData.figure'>

    <label for="cellThird">Custom</label>
    <img src="../../../assets/img/4.png" alt="default" style='width: 120px; height: 100px'>
    <input type="radio" class="form-control" id="default" value='default' name='cell' [(ngModel)]='formData.figure'>
  </div>

  <button routerLink='/game-of-life' type="button" class="btn btn-secondary" (click)='_onSubmit()'>Submit</button>
</form>
